<div id="header-container">
  <div style="display: flex; align-items: center;">
<!--     <img id="bugtrack-logo" src="https://cdn.glitch.com/e9de5fe1-ce70-4b91-9d39-3dfcd1c90559%2FBugs-PNG-Photos.png?v=1572208080360"/> -->
    <h1 style="font-size: 60px; margin: 0px;">
      Install Successful
      <span style="color: #5d8bd2;">✔</span>
    </h1>
  </div>
  <p style="font-weight: lighter;">
    Copy the link below into the root .html file of your project
  </p>
  <code 
    id="script-link" 
    onclick="
      navigator.clipboard.writeText({{relayScript}}).then(function() {
        console.log('Async: Copying to clipboard was successful!');
      }, function(err) {
          if(err) throw (err);
      });">{{relayScript}}</code>
</div>