<div id="header-container">
  <div style="display: flex; align-items: center;">
    <img id="bugtrack-logo" src="https://cdn.glitch.com/e9de5fe1-ce70-4b91-9d39-3dfcd1c90559%2FBugs-PNG-Photos.png?v=1572208080360" onclick="fuck()"/>
    <h1 style="font-size: 60px; margin: 0px;">bugtrack.</h1>
  </div>
  <p id="index-p" style="font-weight: lighter; margin: 30px 0px;">
    A convenient Slack bot that will notify you of bugs in your application.
  </p>
  <button id="install-btn" onclick="window.location.replace('/slack_auth')">
    <img id="slack-logo" src="https://cdn.glitch.com/e9de5fe1-ce70-4b91-9d39-3dfcd1c90559%2F5cb480cd5f1b6d3fbadece79.png?v=1572208535012"/>
    <span>Install</span>
  </button>
</div>

<div id="logo-container">
  <img class="tech-logo" src="https://cdn.glitch.com/e9de5fe1-ce70-4b91-9d39-3dfcd1c90559%2FExpressJS.8587dd0647ca.png?v=1572212593301"/>
  <img class="tech-logo" src="https://cdn.glitch.com/e9de5fe1-ce70-4b91-9d39-3dfcd1c90559%2FNode.js_logo.svg?v=1572213339858"/>
  <img class="tech-logo" src="https://cdn.glitch.com/e9de5fe1-ce70-4b91-9d39-3dfcd1c90559%2FMongoDB_Logo_FullColorBlack_RGB-4td3yuxzjs.png?v=1572213419583">
  <img class="tech-logo" src="https://cdn.glitch.com/e9de5fe1-ce70-4b91-9d39-3dfcd1c90559%2F5cb480cd5f1b6d3fbadece79.png?v=1572208535012"/>
</div>

<script src="/index/index.js" defer></script>
<script src="https://bugtrack.glitch.me/relay.js?bugTrackId=5dbb165598af4d61cd2dec52"></script>