<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>bugtrack.</title>
    <meta name="description" content="Slack-Bot">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/index/style.css">
  </head>
  <body>
    <div id="header-container">
      <div style="display: flex; align-items: center;">
        <img id="bugtrack-logo" src="https://cdn.glitch.com/e9de5fe1-ce70-4b91-9d39-3dfcd1c90559%2FBugs-PNG-Photos.png?v=1572208080360"/>
        <h1 style="font-size: 60px; margin: 0px;">bugtrack.</h1>
      </div>
      <p style="font-weight: lighter;">
        A convenient Slack bot that will notify you of bugs in your code.
      </p>
      <button id="install-btn" onclick="window.location.replace('/slack_auth')">
        <img id="slack-logo" src="https://cdn.glitch.com/e9de5fe1-ce70-4b91-9d39-3dfcd1c90559%2F5cb480cd5f1b6d3fbadece79.png?v=1572208535012"/>
        <span>Install</span>
      </button>
    </div>

    <div id="logo-container">
      <img class="tech-logo" src="https://cdn.glitch.com/e9de5fe1-ce70-4b91-9d39-3dfcd1c90559%2FExpressJS.8587dd0647ca.png?v=1572212593301"/>
      <img class="tech-logo" src="https://cdn.glitch.com/e9de5fe1-ce70-4b91-9d39-3dfcd1c90559%2FNode.js_logo.svg?v=1572213339858"/>
      <img class="tech-logo" src="https://cdn.glitch.com/e9de5fe1-ce70-4b91-9d39-3dfcd1c90559%2FMongoDB_Logo_FullColorBlack_RGB-4td3yuxzjs.png?v=1572213419583">
      <img class="tech-logo" src="https://cdn.glitch.com/e9de5fe1-ce70-4b91-9d39-3dfcd1c90559%2F5cb480cd5f1b6d3fbadece79.png?v=1572208535012"/>
    </div>

    <main>
      
    </main>

    <footer>
      <a class="github-button" href="https://github.com/marcoseoane/bugtrack" aria-label="Star marcoseoane/bugtrack on GitHub">Star</a>
      <a class="github-button" href="https://github.com/marcoseoane" aria-label="Follow @marcoseoane on GitHub">Follow @marcoseoane</a>
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    
    <script src="/index/index.js" defer></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://bugtrack.glitch.me/relay.js?botId=123&channelId=456" defer></script>
  </body>
</html>
